<!--
  templateType: none
-->
<!doctype html>
<html lang="{{ html_lang }}" {{ html_lang_dir }}>

<head>
  <meta charset="utf-8">
  {% if page_meta.html_title or pageTitle %}<title>{{ page_meta.html_title or pageTitle }}</title>{% endif %}
  {% if brand_settings.primaryFavicon.src %}
  <link rel="shortcut icon" href="{{ brand_settings.primaryFavicon.src }}" />{% endif %}
  <meta name="description" content="{{ page_meta.meta_description }}">
  {{ require_css(get_asset_url("../../css/main.css")) }}
  {# This is intended to be used if a template requires template specific style sheets #}
  {% if template_css %}
  {{ require_css(get_asset_url(template_css)) }}
  {% endif %}
  {{ require_css(get_asset_url("../../css/theme-overrides.css")) }}
  {# To see a full list of what is included via standard_header_includes please reference this article: https://developers.hubspot.com/docs/cms/hubl/variables#required-page-template-variables #}
  {{ standard_header_includes }}
</head>

<body>
  <div class="body-wrapper {{ builtin_body_classes }}" id="container">
    {% block header %}
    {% global_partial path="../partials/header.html" %}
    {% endblock header %}

    {# The main-content ID is used for the navigation skipper in the header.html file. More information on the navigation skipper can be found here: https://github.com/HubSpot/cms-theme-boilerplate/wiki/Accessibility #}

    <main id="main-content" class="body-container-wrapper">
      {% block body %}
      {% endblock body %}
    </main>
    <div class="gbl-footer" id="gbl-footer">

      {% block footer %}
      {% global_partial path="../partials/footer.html" %}
      {% endblock footer %}
    </div>
  </div>
  {{ require_js(get_asset_url("../../js/main.js")) }}
  {# To see a full list of what is included via standard_footer_includes please reference this article: https://developers.hubspot.com/docs/cms/hubl/variables#required-page-template-variables #}
  {{ standard_footer_includes }}

  <script src="https://kit.fontawesome.com/d84417893b.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
</body>

</html>