.karix-band-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.karix-band-container {
    margin: 0 50px;
    height: 35px;
}

.band {
    display: flex;
    gap: 20px;
}

.band p,
.band a {
    font-size: 14px;
    font-weight: bold;
    font-family: 'GothamNarrow-Book';

}

.band a {
    text-decoration: none;
}

.kc-main_header {
    align-items: center;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    position: absolute;
    width: 100%;
    z-index: 2;
    transition: .5s linear;
}



.header-change {
    position: fixed;
    top: 0;
}

.logo_container {
    max-width: 195px;
    max-height: 195px;
}

.logo_container a img {
    width: 100%;
    height: 100% !important;
    object-fit: contain;
}

.kc_menu-wrapper .hs-menu-wrapper ul:first-child {
    gap: 35px;

}

.kc_menu-wrapper .hs-menu-wrapper ul:first-child li {
    border-bottom: 2px solid transparent;
    transition: 1s;
}

.kc_menu-wrapper .hs-menu-wrapper ul:first-child li {
    padding-bottom: 10px;
}

.kc_menu-wrapper .hs-menu-wrapper ul:first-child .hs-menu-depth-1 {
    padding-bottom: 20px;
}

.kc_menu-wrapper .hs-menu-item a {
    text-decoration: none;
    font-family: 'GothamNarrowBold';
    font-size: 16px;
}

.kc_menu-wrapper .hs-menu-wrapper.flyouts .hs-menu-children-wrapper {
    left: 0px !important;
    top: 60px !important;
    padding: 20px 20px 20px 20px;
    border-radius: 4px;
    gap: 5px;
}

.kc_header-menu-container {
    gap: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.kc_search-container {
    max-width: 20px;
    max-height: 20px;
    padding-bottom: 18px;
    display: flex;
    align-items: center;
}

.kc_search-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
}

.search input {
    background-color: transparent;
    outline: none;
    border: none;
}


.search {
    padding: 3px 10px;
    border-radius: 2px;
}

.kc-search_wrapper {
    position: relative;
}

.search_container {
    position: absolute;
    right: 23px;
    top: -15px;

}

.search_container {
    display: none;
    transition: transform 0.5s ease;

}

.band_link-icon {
    max-width: 20px;
    max-height: 20px;
}

.band a {
    display: flex;
    align-items: center;
}

.band_link-icon img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.search_container.open {
    display: block;
    animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

.kc-mobile-hamburger {
    display: none;
}

.mobile-menu_container {
    display: none;
}

@media(max-width:946px) {

    .kc-mobile-hamburger-wrappper {
        max-width: 30px;
        max-height: 30px;
        cursor: pointer;

    }

    .mobile-menu_container .hs-menu-item a {
        text-decoration: none;
        font-family: 'GothamNarrow-Book';
        font-size: 16px;
    }

    .mobile-menu_container .hs-menu-wrapper ul:first-child .hs-menu-depth-1 {
        padding-bottom: 20px;
        border-bottom: 1px solid grey;
        margin-bottom: 20px;
    }


    .mobile-menu_container .hs-menu-wrapper ul:first-child li a:first-child {
        padding-bottom: 20px;
    }

    .mobile-menu_container .hs-menu-wrapper ul:first-child li a[aria-haspopup="true"] {
        font-weight: 900;
    }

    .mobile-menu_container .hs-menu-wrapper .hs-menu-depth-2 a {
        position: relative;
    }

    .mobile-menu_container .hs-menu-wrapper .hs-menu-depth-2 a::after {
        content: url('https://23438580.fs1.hubspotusercontent-na1.net/hubfs/23438580/Karix/icons8-right-20.png');
        position: absolute;
        right: 0;
    }

    .mobile-menu_container {
        display: none;
        padding: 20px;
        position: fixed;
        right: 0;
        z-index: 2;
        top: 0;
        width: 80%;
        height: 100%;
        overflow: auto;
        opacity: 0;
        visibility: hidden;
    }

    .mobile-menu_container::-webkit-scrollbar,
    body.no-scroll::-webkit-scrollbar,
    ::-webkit-scrollbar {
        display: none;
    }

    .kc_search-container {
        padding-bottom: 0;
    }

    .kc-mobile-hamburger-wrappper img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .kc_header-menu-container {
        gap: 20px;
    }

    .mobile_menu-wrapper {
        position: relative;
    }

    .popupmenu-close {
        top: 30px;
        cursor: pointer;
        display: flex;
        position: sticky;
        z-index: 9999;
        justify-content: end;
    }

    .mobile-menu_container .hs-menu-wrapper.flyouts .hs-menu-children-wrapper {
        opacity: 1 !important;
        position: static !important;
        margin-top: 25px;
    }

    .kc_menu-wrapper .hs-menu-wrapper ul:first-child {
        display: none;
    }

    .mobile-menu_container .hs-menu-wrapper ul:first-child {
        display: block !important;
    }


    .kc-mobile-hamburger {
        display: block;
    }


    .mobile-menu_container.show {
        display: block;
        animation: slideDown 0.5s forwards;
    }

    .mobile-menu_container.hide {
        animation: slideUp 0.5s forwards;
    }

    @keyframes slideDown {
        0% {
            opacity: 0;
            visibility: visible;
            transform: translateY(-100%);
        }

        100% {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
    }

    @keyframes slideUp {
        0% {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }

        100% {
            opacity: 0;
            visibility: hidden;
            transform: translateY(-100%);
        }
    }

    body.no-scroll {
        overflow: hidden;
        height: 100%;
    }
}


@media(max-width:450px) {
    .mobile-menu_container {
        width: 90%;
    }

    .karix-band-container {
        margin: 0 15px;
    }

    .band {
        gap: 15px;
    }

    .kc-main_header {
        padding: 10px 10px;
    }

    .logo_container {
        max-width: 140px;
        max-height: 140px;
    }

}



@media(max-width:370px) {
    .logo_container {
        max-height: 150px;
        max-width: 150px;
    }

    .band {
        align-items: center;
    }

    .band p,
    .band a {
        font-size: 11px;
        text-align: center;
    }

    .band_link-icon {
        max-height: 15px;
        max-width: 15px;
    }


}

@media(max-width:340px) {
    .search_container {
        right: -27px;
    }
}