<!-- module html  -->
<section class="kc_header-section">
    <div class="karix-band-container">
        <div class="karix-band-wrapper">
            <div class="band">
                <p>
                    {{ module.brand_section.brand_title }} </p>
                <div>
                    <a href="{{module.brand_section.learn_more.link.url.href}}" target="_blank">
                        {{ module.brand_section.learn_more.text }} <div class="band_link-icon">
                            <img src="https://23438580.fs1.hubspotusercontent-na1.net/hubfs/23438580/Karix/icons8-arrow-right-24.png"
                                alt="">
                        </div>
                    </a>
                </div>
            </div>
            <div class="band_logo">
                <a href="{{ module.brand_section.learn_more.brand_logo_section.logo_link.url.href }}" target="_blank">
                    {% if module.brand_section.learn_more.brand_logo_section.logo_image.src %}
                    {% set sizeAttrs = 'width="{{ module.brand_section.learn_more.brand_logo_section.logo_image.width|escape_attr }}" height="{{ module.brand_section.learn_more.brand_logo_section.logo_image.height|escape_attr }}"' %}
                    {% if module.brand_section.learn_more.brand_logo_section.logo_image.size_type == 'auto' %}
                    {% set sizeAttrs = 'width="{{ module.brand_section.learn_more.brand_logo_section.logo_image.width|escape_attr }}" height="{{ module.brand_section.learn_more.brand_logo_section.logo_image.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
                    {% elif module.brand_section.learn_more.brand_logo_section.logo_image.size_type == 'auto_custom_max' %}
                    {% set sizeAttrs = 'width="{{ module.brand_section.learn_more.brand_logo_section.logo_image.max_width|escape_attr }}" height="{{ module.brand_section.learn_more.brand_logo_section.logo_image.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
                    {% endif %}
                    {% set loadingAttr = module.brand_section.learn_more.brand_logo_section.logo_image.loading != 'disabled' ? 'loading="{{ module.brand_section.learn_more.brand_logo_section.logo_image.loading|escape_attr }}"' : '' %}
                    <img src="{{ module.brand_section.learn_more.brand_logo_section.logo_image.src|escape_url }}"
                        alt="{{ module.brand_section.learn_more.brand_logo_section.logo_image.alt|escape_attr }}"
                        {{ loadingAttr }} {{ sizeAttrs }}>
                    {% endif %}
                </a>

            </div>
        </div>
    </div>
    <div class="kc-main_header">
        <div class="logo_container">
            <a href="{{module.menu_section.logo_section.link.url.href}}">
                {% if module.menu_section.logo_section.logo_image.src %}
                {% set sizeAttrs = 'width="{{ module.menu_section.logo_section.logo_image.width|escape_attr }}" height="{{ module.menu_section.logo_section.logo_image.height|escape_attr }}"' %}
                {% if module.menu_section.logo_section.logo_image.size_type == 'auto' %}
                {% set sizeAttrs = 'width="{{ module.menu_section.logo_section.logo_image.width|escape_attr }}" height="{{ module.menu_section.logo_section.logo_image.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
                {% elif module.menu_section.logo_section.logo_image.size_type == 'auto_custom_max' %}
                {% set sizeAttrs = 'width="{{ module.menu_section.logo_section.logo_image.max_width|escape_attr }}" height="{{ module.menu_section.logo_section.logo_image.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
                {% endif %}
                {% set loadingAttr = module.menu_section.logo_section.logo_image.loading != 'disabled' ? 'loading="{{ module.menu_section.logo_section.logo_image.loading|escape_attr }}"' : '' %}
                <img src="{{ module.menu_section.logo_section.logo_image.src|escape_url }}"
                    alt="{{ module.menu_section.logo_section.logo_image.alt|escape_attr }}" {{ loadingAttr }}
                    {{ sizeAttrs }}>
                {% endif %}
            </a>
        </div>
        <div class="kc_header-menu-container">
            <div class="kc_menu-wrapper">
                {% menu id="{{ module.menu_section.menu_field }}" %}
            </div>
            <div class="kc-search_wrapper">
                <div class="kc_search-container">
                    <img id="toggleImage"
                        src="https://23438580.fs1.hubspotusercontent-na1.net/hubfs/23438580/Karix/icons8-search-50.png"
                        alt="Search Icon">

                </div>
                <div class="search_container">
                    <div class="search">
                        <input type="text" name="" id="" placeholder="search....">
                    </div>
                </div>

            </div>

            <div class="kc-mobile-hamburger-wrappper kc-mobile-hamburger">
                <img src="https://23438580.fs1.hubspotusercontent-na1.net/hubfs/23438580/Karix/icons8-hamburger-96.svg"
                    alt="">
            </div>

        </div>


    </div>
    <div class="mobile-menu_container">
        <div class="mobile_menu-wrapper">
            <div class="popupmenu-close">
                <img src="https://23438580.fs1.hubspotusercontent-na1.net/hubfs/23438580/Karix/icons8-cross-50.png" ;
                    alt="">
            </div>
            {% menu id="{{ module.menu_section.menu_field }}" %}
        </div>

    </div>
</section>


{% require_css %}
<style>
    {% scope_css %}
.band p,
.band a  {
    color: rgba({{module.styles.brand_text_color.color|convert_rgb  }},{{ module.styles.brand_text_color.opacity /100 }});
}

.karix-band-container {
    background-color:rgba({{ module.styles.brand_bg_color.color |convert_rgb  }},{{  module.styles.brand_bg_color.opacity /100 }});
}

.header-change {
    background-color:rgba({{ module.styles.header_bg_color.color |convert_rgb  }},{{ module.styles.header_bg_color.opacity/100 }});
}

.kc_menu-wrapper .hs-menu-wrapper ul:first-child li:hover {
    border-bottom: 2px solid rgba({{ module.styles.menu_hover_color.color |convert_rgb }},{{ module.styles.menu_hover_color.opacity/100 }});
}
.kc_menu-wrapper .hs-menu-item a{
    color: rgba({{module.styles.menu_color.color|convert_rgb  }},{{ module.styles.menu_color.opacity /100 }});
}

.kc_menu-wrapper .hs-menu-wrapper.flyouts .hs-menu-children-wrapper {
    background-color: rgba({{ module.styles.sub_menu_background_color.color|convert_rgb }},{{ module.styles.sub_menu_background_color.opacity/100 }});
}
.search input{
    color: rgba({{module.styles.menu_color.color|convert_rgb  }},{{ module.styles.menu_color.opacity /100 }});

}

.search input::placeholder {
    color: rgba({{module.styles.menu_color.color|convert_rgb  }},{{ module.styles.menu_color.opacity /100 }});
}


.search {
    border-bottom: 1px solid rgba({{module.styles.menu_color.color|convert_rgb  }},{{ module.styles.menu_color.opacity /100 }});
    background-color:rgba({{ module.styles.header_bg_color.color |convert_rgb  }},{{ module.styles.header_bg_color.opacity/100 }});

}

@media(max-width:946px) {
    .mobile-menu_container .hs-menu-item a {
        color: rgba({{module.styles.menu_color.color|convert_rgb  }},{{ module.styles.menu_color.opacity /100 }});
    }

    .mobile-menu_container{
        background-color:rgba({{ module.styles.header_bg_color.color |convert_rgb  }},{{ module.styles.header_bg_color.opacity/100 }});

    }
}

    {% end_scope_css %}
</style>
{% end_require_css %}