@font-face {
  font-family: 'GothamNarrow-Book';
  src: url('https://23438580.fs1.hubspotusercontent-na1.net/hubfs/23438580/Font-%20karix/GothamNarrow-Book.otf') format('truetype');
}

@font-face {
  font-family: 'GothamNarrowBold';
  src: url('https://23438580.fs1.hubspotusercontent-na1.net/hubfs/23438580/Font-%20karix/GothamNarrow-Bold.otf') format('truetype');
}


@font-face {
  font-family: 'GothamNarrowMedium';
  src: url('https://23438580.fs1.hubspotusercontent-na1.net/hubfs/23438580/Font-%20karix/GothamNarrow-Medium.otf') format('truetype');
}

/* The overflow-wrap is meant to prevent long/large words from breaking the mobile responsiveness of a page (e.g. horizontal scrolling). It is preferred to reduce font sizes on mobile to address this, with this CSS specifically helping with extreme scenarios where a reduction in font size is not possible. */

body {
  line-height: 1.4;
  overflow-wrap: break-word;
}

/* Handles word breaking for a few specific languages which handle breaks in words differently. If your content is not translated into these languages, you can safely remove this.  */

html[lang^="ja"] body,
html[lang^="zh"] body,
html[lang^="ko"] body {
  line-break: strict;
  overflow-wrap: normal;
  word-break: break-all;
}

/* Paragraphs */

p {
  font-size: 1rem;
  /* margin: 0 0 1.4rem; */
}

/* Anchors */

a {
  cursor: pointer;
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  /* margin: 0 0 1.4rem; */
}

/* Lists */

ul,
ol {
  /* margin: 0 0 1.4rem; */
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin: 0;
}

ul.no-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

/* Code blocks */

pre {
  overflow: auto;
}

code {
  vertical-align: bottom;
}

/* Blockquotes */

blockquote {
  border-left: 2px solid;
  margin: 0 0 1.4rem;
  padding-left: 0.7rem;
}

/* Horizontal rules */

hr {
  border: none;
  border-bottom: 1px solid #CCC;
}

/* Image alt text */

img {
  font-size: 0.583rem;
  word-break: normal;
  
}