<!-- module html  -->
<section class="karix_footer-section">
    <div class="content-wrapper">
        <div class="karix_footer-container">
            <div class="karix_right-footer">
                <div class="karix-footer-menu-container">
                    <div class="karix-title_container">
                        <p class="karix-title">{{ module.primary_menu.title }}</p>
                        <div class="karix-drop-down">
                            <img src="https://23438580.fs1.hubspotusercontent-na1.net/hubfs/23438580/Karix/icons8-dropdown-64.png"
                                alt="">
                        </div>
                    </div>
                    <div class="menu-footer mobile-visible">
                        {% for item in module.primary_menu.primary_menu_list %}
                        <div class="footer_menu-wrapper">
                            <p>{% set href = item.menu_item_link.url.href %}
                                {% if item.menu_item_link.url.type is equalto "EMAIL_ADDRESS" %}
                                {% set href = "mailto:" + href %}
                                {% endif %}
                                <a href="{{ href|escape_url }}"
                                    {% if item.menu_item_link.open_in_new_tab %}target="_blank" {% endif %}
                                    {% if item.menu_item_link.rel %}rel="{{ item.menu_item_link.rel|escape_attr }}"
                                    {% endif %}>
                                    {{ item.menu_item }} </a>
                            </p>
                        </div>
                        {% endfor %}
                    </div>

                </div>
                <div class="karix-footer-menu-container">
                    <div class="karix-title_container">
                        <p class="karix-title">{{ module.secondary_menu.title }}</p>
                        <div class="karix-drop-down">
                            <img src="https://23438580.fs1.hubspotusercontent-na1.net/hubfs/23438580/Karix/icons8-dropdown-64.png"
                                alt="">
                        </div>
                    </div>
                    <div class="menu-footer mobile-visible">
                        {% for item in module.secondary_menu.secondary_menu_list %}
                        <div class="footer_menu-wrapper">
                            <p>{% set href = item.menu_item_link.url.href %}
                                {% if item.menu_item_link.url.type is equalto "EMAIL_ADDRESS" %}
                                {% set href = "mailto:" + href %}
                                {% endif %}
                                <a href="{{ href|escape_url }}"
                                    {% if item.menu_item_link.open_in_new_tab %}target="_blank" {% endif %}
                                    {% if item.menu_item_link.rel %}rel="{{ item.menu_item_link.rel|escape_attr }}"
                                    {% endif %}>
                                    {{ item.menu_item }} </a>
                            </p>
                        </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
            <div class="karix_left-footer">
                <div class="karix-footer-left-menu-container">
                    <div class="karix-title_container">
                        <p class="karix-title">{{ module.contact_details.title }}</p>
                        <div class="karix-drop-down">
                            <img src="https://23438580.fs1.hubspotusercontent-na1.net/hubfs/23438580/Karix/icons8-dropdown-64.png"
                                alt="">
                        </div>
                    </div>
                    <div class="karix-mobile-footer-contact mobile-visible">
                        {% for item in module.contact_details.contact %}
                        <div class="karix-footer-contact ">
                            <p>
                                {{ item.details }}</p>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="karix-social-contacts mobile-visible">
                        {% for item in module.social_icons %}
                        <div class="karix-social_wrapper">

                            {% if item.social_icons.src %}
                            {% set sizeAttrs = 'width="{{ item.social_icons.width|escape_attr }}" height="{{ item.social_icons.height|escape_attr }}"' %}
                            {% if item.social_icons.size_type == 'auto' %}
                            {% set sizeAttrs = 'width="{{ item.social_icons.width|escape_attr }}" height="{{ item.social_icons.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
                            {% elif item.social_icons.size_type == 'auto_custom_max' %}
                            {% set sizeAttrs = 'width="{{ item.social_icons.max_width|escape_attr }}" height="{{ item.social_icons.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
                            {% endif %}
                            {% set loadingAttr = item.social_icons.loading != 'disabled' ? 'loading="{{ item.social_icons.loading|escape_attr }}"' : '' %}
                            <a href="{{item.link.url.href}}">
                                <img src="{{ item.social_icons.src|escape_url }}"
                                    alt="{{ item.social_icons.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
                            </a>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>

                </div>
                <div class="karix-footer-support_container">
                    <div class="karix-title_container">

                        <p class="karix-title">
                            {{ module.support.title }}
                        </p>
                        <div class="karix-drop-down">
                            <img src="https://23438580.fs1.hubspotusercontent-na1.net/hubfs/23438580/Karix/icons8-dropdown-64.png"
                                alt="">
                        </div>
                    </div>
                    <div class="karix-footer-support_wrapper mobile-visible">
                        {% for item in module.support.support_details %}
                        <div>
                            <p class="karix-footer-support-title">{{ item.title }}</p>
                            <div class="karix-footer-support_wrapper-sub">
                                {% if item.email %}
                                <div class="email_image">
                                    <a href="mailto:{{ item.email }}">
                                        <i class="fa-regular fa-envelope"></i> <span style="margin: 0 1px;">:</span>
                                        {{ item.email }}
                                    </a>

                                </div>
                                {% endif %}
                                <div class="email_image">
                                    {% if item.phone_details %}
                                    <i class="fa-solid fa-square-phone"></i>
                                    <a href="tel:{{ item.phone_details[0].phone }}">
                                        {% for item2 in item.phone_details %}
                                        {% if not loop.first %}/{% endif %}
                                        {% if  loop.first %}<span class="phone-colan">:</span>{% endif %}
                                        {{ item2.phone }}
                                        {% endfor %}
                                    </a>
                                    {% endif %}
                                </div>
                            </div>

                        </div>
                        {% endfor %}

                    </div>

                </div>
            </div>
        </div>
        <div class="karix-copyright-text">
            <div>
                <p>
                    {{ module.copy_right_text }}
                </p>
            </div>

        </div>


    </div>

</section>

{% require_css %}
<style>
    {% scope_css %}
    
.karix-copyright-text div p,
.karix-footer-contact p,
.karix-footer-contact p a,
.footer_menu-wrapper p a,
.karix-title,
i.fa-square-phone,
.karix-footer-support-title,
.email_image a {
    color: rgba({{ module.styles.footer_text_color.color |convert_rgb  }},{{ module.styles.footer_text_color.opacity/100 }});
}

.karix-title::before,
.karix-social_wrapper {
    background-color:rgba({{ module.styles.footer_text_color.color |convert_rgb  }},{{ module.styles.footer_text_color.opacity/100 }});
}

@media(max-width:999px) {
    .karix-footer-menu-container,
    .karix-footer-support_container .karix-title_container,
    .karix-footer-left-menu-container .karix-title_container {
        border-bottom: 1px solid rgba({{ module.styles.footer_text_color.color |convert_rgb  }},{{ module.styles.footer_text_color.opacity/100 }})

    }

}

    {% end_scope_css %}
</style>
{% end_require_css %}