i.fa-square-phone {
    transform: rotate(270deg);
    font-size: 18px;
}

.karix_footer-section {
    padding: 50px 0 0;
}

.karix_footer-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.karix_left-footer {
    display: flex;
    justify-content: space-between;
    width: 50.5%;

}

.karix_right-footer {
    display: grid;
    grid-template-columns: 50% 46%;
    gap: 24px;
    width: 48.5%;
}

.karix-title {
    padding-bottom: 15px;
    position: relative;
    font-size: 16px;
    font-family: 'GothamNarrowMedium';
    text-transform: uppercase;
}

.karix-title::before {
    content: "";
    display: block;
    top: 12px;
    width: 17px;
    height: 1px;
    margin-left: -24px;
    position: relative;
}

.footer_menu-wrapper p a {
    font-size: 16px;
    font-family: 'GothamNarrowMedium';
    text-decoration: none;
}

.footer_menu-wrapper p a:hover,
.email_image a:hover,
.karix-footer-contact a:hover {
    color: #ccc;
}

.karix-copyright-text {
    border-top: 1px solid #606365;
}

.karix-copyright-text div {
    display: inline-block;
    padding: 20px 0;

}

.karix-copyright-text div p {
    margin: 0;
    text-align: left;
    font-size: 14px;
    font-family: 'GothamNarrowMedium';
}

.karix-footer-contact {
    padding-bottom: 20px;
}

.karix-footer-contact p,
.karix-footer-contact p a {
    font-size: 16px;
    font-family: 'GothamNarrowMedium';
    text-decoration: none;
    line-height: 26px;
}

.karix-social-contacts {
    display: flex;
    gap: 10px;
}

.karix-social_wrapper a {
    max-width: 25px;
    max-height: 25px;
}

.karix-social_wrapper a img {
    width: 100%;
    height: 100% !important;
    opacity: 0.6;
    object-fit: contain;
}

.karix-social_wrapper {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.karix-footer-support_wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.karix-footer-support-title,
.email_image a {
    font-size: 16px;
    font-family: 'GothamNarrowMedium';
}

.email_image {
    display: flex;
    align-items: baseline;
    gap: 5px;
    word-break: break-all;
}

.email_image a {
    text-decoration: none;

}

.karix-footer-support-title {
    font-weight: 600;
    padding-bottom: 3px;
}

.karix-drop-down {
    display: none;
}

.karix-footer-left-menu-container {
    width: 45%;
}

.karix-footer-support_container {
    width: 47%;
}

.footer_menu-wrapper {
    padding-bottom: 7px;
}


#gbl-footer {
    position: fixed;
    z-index: -1;
    left: 0;
    right: 0;
    width: 100%;
    z-index: -1;
    bottom: 0;
}

#container {
    background: #fff;

}

#main-content {
    min-height: 100%;
    position: relative;
    z-index: 1;

}

.phone-colan {
    margin: 0 1px;
}

@media(max-width:1030px) {
    .karix_left-footer {
        width: 59%;
    }

}

@media(max-width:1110px) {
    .karix_left-footer {
        width: 50%;
    }

    .karix_right-footer {
        width: 50%;
    }

    .email_image a {
        font-size: 14px;
    }
}

@media(max-width:999px) {
    .karix_footer-container {
        padding: 0 30px;
    }

    .karix_footer-section {
        padding: 20px 0 0;
    }

    .phone-colan {
        margin: 0 3.5px;
    }

    .karix-footer-support_container {
        width: 100%;
    }

    .karix_right-footer,
    .karix_left-footer,
    .karix_footer-container {
        display: block;
    }

    .karix_right-footer,
    .karix_left-footer,
    .karix-footer-menu-container:first-child,
    .karix-footer-left-menu-container {
        padding-bottom: 20px;
        width: 100%;
        margin-bottom: 20px;

    }

    .karix-footer-support_container .karix-title-active,
    .karix-footer-left-menu-container .karix-title-active {
        margin-bottom: 20px;
    }

    .email_image {
        gap: 0;
    }

    .karix-title {
        padding: 20px 0 10px;
    }

    .karix-drop-down {
        display: block;
        max-width: 30px;
        max-height: 30px;
    }

    .karix-drop-down img {
        width: 100%;
        height: 100%;
        object-fit: contain;

    }

    .karix-title_container {
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: space-between;
    }

    .karix-social-contacts {
        gap: 30px;
    }

    #gbl-footer {
        position: static;
    }

    #main-content {
        margin-bottom: 0 !important;
    }

    .karix-copyright-text {
        border-top: 1px solid #606365;
        display: flex;
        justify-content: center;

    }

    .menu-footer.mobile-visible,
    .karix-footer-support_wrapper.mobile-visible,
    .karix-social-contacts.mobile-visible,
    .karix-mobile-footer-contact.mobile-visible {
        display: none;
    }

    .karix-mobile-footer-contact {
        margin-bottom: 30px;
    }

    .dropdown-open {
        animation: fade-in 0.5s;
    }

    .karix_footer-container {
        margin-bottom: 50px;
    }

    .karix-footer-contact:last-child {
        padding-bottom: 0;
    }

    @keyframes fade-in {
        from {
            opacity: 0;
            transform: scaleY(0);
        }

        to {
            transform: scaleY(1);
            opacity: 1;
        }
    }

    .dropdown-active {
        transform: rotate(180deg);
    }

}

@media(max-width:380px) {
    .karix-copyright-text div p {
        padding: 0 30px;
    }

}

@media(max-width:600px) {

    .karix-footer-contact p,
    .karix-footer-contact p a {
        font-size: 14px;
        line-height: 24px;
    }
}

@media(max-width:328px) {
    .email_image a {
        font-size: 14px;
    }

}